/* ==UserStyle==
@name           Messenger Dynamic Sidebar
@description    Show and hide your chat sidebar seamlessly
@author         reizumi
@namespace      codeberg.org/reizumi
@homepageURL    https://codeberg.org/reizumi/userstyles
@updateURL      https://codeberg.org/reizumi/userstyles/raw/branch/master/messenger-dynamic-sidebar.user.css
@preprocessor   stylus
@version        1.3.4
@license        CC-BY-SA-4.0

@var text       sidebarSpeed    "Sidebar speed"                 .2s
@var text       sidebarDelay    "Sidebar leave delay"           .1s
@var select     sidebarEase     "Sidebar easing" {
    "Ease*"         : "ease",
    "Ease-in"       : "ease-in",
    "Ease-out"      : "ease-out",
    "Ease-in-out"   : "ease-in-out",
    "Cubic bezier"  : "cubic-bezier"
}
@var text       sidebarWidth    "Sidebar width (focused)"       360px
@var text       sidebarBezier   "Sidebar cubic bezier"          cubic-bezier(0, 1.5, 1, 1)
@var checkbox   hideActionBar   "Hide inbox switcher"           1
@var select     hideHeader      "Hide chat header" {
    "With sidebar" : "withSidebar",
    "Always"       : "always",
    "Never"        : "never"
}
@var select     hideSearch      "Hide search bar" {
    "With sidebar" : "withSidebar",
    "Unless hover" : "hover",
    "Always"       : "always",
    "Never"        : "never"
}
@var text       actionBarDelay  "Inbox switcher trigger delay"  .15s
==/UserStyle== */

@-moz-document domain("messenger.com") {
    sidebarEase = sidebarEase == "cubic-bezier" ? sidebarBezier : sidebarEase;

    actionBarClass = '.xm81vs4[role="navigation"]';
    headerClass = ".x9f619.x1n2onr6.x1ja2u2z.x78zum5.x2lah0s.x1qughib.x6s0dn4.xozqiw3.x1q0g3np.x1sy10c2.xktsk01.xod5an3.x1d52u69";
    messagePreviewClass = ".x9f619.x1n2onr6.x1ja2u2z.x78zum5.x1iyjqo2.xs83m0k.xeuugli.x1qughib.x6s0dn4.x1a02dak.x1q0g3np.xdl72j9";
    notificationBellClass = ".xozqiw3.x78zum5.x6s0dn4";
    scrollbarClass = ".x78zum5.xdt5ytf.x1iyjqo2.xs83m0k.x1xzczws.x6ikm8r.x1rife3k.x1n2onr6.xh8yej3";
    searchClass = ".x9f619.x1n2onr6.x1ja2u2z.xsag5q8.x1yrsyyn";
    sidebarClass = '.x1cvmir6[role="navigation"]';
    textHeaderClass = ".x1heor9g.x1qlqyl8.x1pd3egz.x1a2a7pz";
    unreadMessageIndicatorClass = '.x1fsd2vl[data-visualcompletion="ignore"]';

    if hideActionBar {
        {actionBarClass} {
            width: 0;
            overflow: hidden;
            border-right-color: var(--surface-background);
            transition-property: width, border-right-color;
            transition-duration: sidebarSpeed;
            transition-delay: actionBarDelay;
            
            &:hover {
                border-right-color: var(--media-inner-border);
                
                &:has([aria-expanded="false"]) {
                    width: 60px;
                }
                &:has([aria-expanded="true"]) {
                    width: 248px;
                }
            }
        }
    }
    
    /* Header */
    if hideHeader != "never" {
        {headerClass} {
            opacity: 0;
            height: 0;
            margin: 0 16px;
            overflow: hidden;
            transition: sidebarSpeed sidebarEase;
        }
    }
    
    /* Search */
    if hideSearch != "never" {
        {searchClass} {
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: sidebarSpeed sidebarEase;
        }
    } else {
        {headerClass} {
            margin-bottom: 0px !important;
        }
        {searchClass} {
            margin-top: 6px;
        }
    }
    
    /* Text Header */
    {sidebarClass} {textHeaderClass} {
        min-width: 150px;
    }
    /* Unread Message Indicator */
    {sidebarClass} {unreadMessageIndicatorClass} {
        position: relative;
        right: 82px;
        transition-delay: sidebarDelay;
    }
    /* Notification bell */
    {sidebarClass} {notificationBellClass} svg {
        display: none;
    }
    /* Hide contents */
    {messagePreviewClass} {
        overflow: hidden;
    }
    /* Sidebar (not focused) */
    {sidebarClass} {
        width: 80px;
        min-width: 80px;
        transition: width sidebarSpeed sidebarEase;
        transition-delay: sidebarDelay;
    }
    @media only screen and (min-width: 900px) {
        /* Sidebar (focused) */
        {sidebarClass}:hover,
        {actionBarClass}:hover + {sidebarClass} {
            width: sidebarWidth;
            transition-delay: 0s;
        }
        /* Header (focused) */
        focusedHeader = sidebarClass + ":hover " + headerClass + ", " + actionBarClass + ":hover + " + sidebarClass + " " + headerClass;
        
        if hideHeader == "withSidebar" {
            {focusedHeader} {
                opacity: 1;
                height: auto;
                overflow: visible;
                margin: 20px 16px 12px 16px;
            }
        }
        
        /* Search (focused) */
        focusedSearch = sidebarClass + ":hover " + searchClass;
        if hideSearch == "hover" {focusedSearch += ":hover ";};
        focusedSearch += ", " + actionBarClass + ":hover + " + sidebarClass + " " + searchClass;
        
        if hideSearch == "withSidebar" || hideSearch == "hover" {
            {focusedSearch} {
                opacity: 1;
                height: auto;
                overflow: visible;
                if hideHeader == "always" {margin-top: 6px;}
            }
        }
        
        /* Unread Message Indicator (focused) */
        {sidebarClass}:hover {unreadMessageIndicatorClass},
        {actionBarClass}:hover + {sidebarClass} {unreadMessageIndicatorClass} {
            right: 0;
            transition-delay: 0s;
        }
        /* Notification bell (focused) */
        {sidebarClass}:hover {notificationBellClass} svg,
        {actionBarClass}:hover + {sidebarClass} {notificationBellClass} svg {
            display: block;
        }
        /* Scrollbar */
        {sidebarClass} {scrollbarClass} {
            overflow-y: hidden;
        }
        /* Scrollbar (focused) */
        {sidebarClass}:hover {scrollbarClass},
        {actionBarClass}:hover + {sidebarClass} {scrollbarClass} {
            overflow-y: scroll;
        }
        /* Hide contents (focused) */
        {sidebarClass}:hover {messagePreviewClass},
        {actionBarClass}:hover + {sidebarClass} {messagePreviewClass} {
            overflow: visible;
        }
    }
}
